<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore> 
    <clientscripts>
      <htmleditor>
        <script  src="/sitecore/shell/Controls/Rich Text Editor/Brightcove RichText Commands.js" language="javascript"/>
      </htmleditor>
    </clientscripts>
	<settings>
		<setting name="Sitecore.MediaFramework.ExportDatabases" value="master" />
		<setting name="Sitecore.MediaFramework.ExportTimeout" value="20" />
		<setting name="Sitecore.MediaFramework.DefaultPlayer.Width" value="400" />
		<setting name="Sitecore.MediaFramework.DefaultPlayer.Height" value="300" />
		<setting name="Sitecore.MediaFramework.Preview.Width" value="600" />
		<setting name="Sitecore.MediaFramework.Preview.Height" value="400" />
		<setting name="Sitecore.MediaFramework.EnableMigration" value="false" />
		<setting name="Sitecore.MediaFramework.EnableDebug" value="true" />
		<setting name="HtmlEditor.RemoveScripts" value="false" />
		<setting name="AllowDuplicateItemNamesOnSameLevel" value="true" />
	</settings>
	<commands>
		<command name="MediaFramework:EmbedMedia" type="Sitecore.MediaFramework.Commands.EmbedMedia,Brightcove.Web" />
		<command name="MediaFramework:MediaPreview" type="Sitecore.MediaFramework.Commands.MediaPreview,Brightcove.Web" />
		<command name="MediaFramework:OpenUploader" type="Sitecore.MediaFramework.Commands.OpenUploader,Brightcove.Web" />
		<command name="mediaFramework:TextTracks:Brightcove" type="Brightcove.MediaFramework.Brightcove.Commands.TextTracks,Brightcove.Web"/>
	</commands>
	  <pipelines>
		  <initialize>
			  <processor type="Brightcove.Web.Pipelines.RegisterRoutes, Brightcove.Web"
				patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
			  <processor patch:after="processor[@type='Sitecore.ExperienceAnalytics.Api.Pipelines.Initialize.WebApiInitializer, Sitecore.ExperienceAnalytics']" type="Sitecore.MediaFramework.Pipelines.Initialize.WebApiInitializer, Brightcove.Web" />
		  </initialize>
		  <buckets.dialogSearchFilters>
			  <processor type="Sitecore.MediaFramework.Pipelines.Buckets.DialogSearchFilters.MediaFrameworkSearchFilters, Brightcove.Web"/>
		  </buckets.dialogSearchFilters>
	  </pipelines>
	  <group groupName="analytics.aggregation">
		  <pipelines>
			  <interactions>
				  <processor patch:after="processor[@type='Sitecore.Analytics.Aggregation.Pipelines.Interactions.LogAggregationInfo, Sitecore.Analytics.Aggregation']" type="Sitecore.MediaFramework.Pipelines.AnalyticsAggregation.Interactions.MediaEventsAggregation, Brightcove.Web" />
			  </interactions>
		  </pipelines>
	  </group>  
	  <api>
		  <services>
			  <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
				  <allowedControllers hint="list:AddController">
					  <reportsController>Sitecore.MediaFramework.Analytics.Dashboard.MFReportsController, Brightcove.Web</reportsController>
				  </allowedControllers>
			  </configuration>
		  </services>
	  </api>
  </sitecore>
</configuration>
