<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore> 
	<settings>
		<setting name="Sitecore.MediaFramework.ExportDatabases" value="master" />
		<setting name="Sitecore.MediaFramework.ExportTimeout" value="20" />
		<setting name="Sitecore.MediaFramework.DefaultPlayer.Width" value="400" />
		<setting name="Sitecore.MediaFramework.DefaultPlayer.Height" value="300" />
		<setting name="Sitecore.MediaFramework.Preview.Width" value="600" />
		<setting name="Sitecore.MediaFramework.Preview.Height" value="400" />
		<setting name="Sitecore.MediaFramework.EnableMigration" value="false" />
		<setting name="Sitecore.MediaFramework.EnableDebug" value="true" />
	</settings>
  </sitecore>
</configuration>
