@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Sitecore.Mvc.Presentation.RenderingModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BasicLayout</title>
</head>
<body>
    <div>
        Basic Layout
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
